
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:400,700');

/*
    Google Font Selection

    https://fonts.google.com/selection?selection.family=Open+Sans:300,400,700|Oswald:400,700
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
 


// Colors
$bgColor: #2C3E50;
$lightColor: #ECF0F1;

// Breakpoints
$mobileBreakpoint            : 320px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;



@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      } 
    } 
}

@mixin breakpoint($point) {
  @if $point == computer {
     @media (min-width: $computerBreakpoint) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: $tabletBreakpoint) { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: $mobileBreakpoint)  { @content ; }
  }

}


@include headings() {
    
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;

}




body, p {

    color: #444;
}

#intro {  
    
    background: $bgColor; 
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 0px 0px 20px rgba(black, 0.1);
  
    @include headings() {  
        color: $lightColor; 
    }
    
    h1 {

        font-size: 7rem;
    
        @include breakpoint(mobile) {
            font-size: 2rem;
        }
    } 

    h2 {
        
        color: white;
        font-size: 2.2rem;
        margin-left: 3.7rem;

        .plus { color: #FF3D2E; }
        
        @include breakpoint(mobile) {
            font-size: 1rem;
        }
        
    }
} 

/* utility classes */

.compact {

    line-height: 1;
    margin: 0;
}

.soft {
    
    opacity: 0.6;
}



.work-history {

    .container {

        padding-top: 40px;
        padding-bottom: 0px;
    }

    .title {

        color: #FF3D2E;
        font-size: 2rem;
        line-height: 1.3;
    }

    .company {

        margin-top: 10px;
        font-size: 0.8rem;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                opacity: 0.6;
            }
        }
    }

    .daterange {

        font-size: 0.8rem;

    }

    .summary {

        font-size: 1.5rem;;
        line-height: 1.5;
        margin: 0;
    }

    .work-details {

        margin-left: 0;
        padding-right: 40px;
        padding-left: 0px;

        li {
        
            padding-left: 20px;
            list-style-type: none;
            margin-bottom: 1rem;
            border-left: solid 2px silver;

            p {

                margin-top: 0;
                padding-top: 0;
                font-size: 1.2rem;

            }
        }
    }
}

.secondary-info {

    border-left: solid 2px #ccc;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}