
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:400,700');

/*
    Google Font Selection

    https://fonts.google.com/selection?selection.family=Open+Sans:300,400,700|Oswald:400,700
    font-family: 'Oswald', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
 


// Colors
$bgColor: #2C3E50;
$lightColor: #ECF0F1;

// Breakpoints
$mobileBreakpoint            : 420px;
$tabletBreakpoint            : 768px;
$computerBreakpoint          : 992px;
$largeMonitorBreakpoint      : 1200px;
$widescreenMonitorBreakpoint : 1920px;



@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      } 
    } 
}

@mixin breakpoint($point) {
  @if $point == computer {
     @media (min-width: $computerBreakpoint) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: $tabletBreakpoint) { @content ; }
  }
  @else if $point == mobile {
     @media (max-width: $mobileBreakpoint)  { @content ; }
  }

}

@mixin print {
    @media print {
        @content;
    }
}


@include headings() {
    
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;

}

/* utility classes */

.compact {

    line-height: 1;
    margin: 0;
}

.soft {
    
    opacity: 0.6;
}


/* The goods */


body, p {

    color: #444;
}

@include print {
    .container { 
        width: 750px;
        margin: 0 auto;
    }
}

#intro {  
    
    background: $bgColor; 
    padding-top: 80px;
    padding-bottom: 80px;
    text-shadow: 0px 0px 20px rgba(black, 0.1);

    @include breakpoint(mobile) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include print {
        padding-top: 60px;
        padding-bottom: 60px;
    }
  
    @include headings() {  
        color: $lightColor; 
    }
    
    h1 {

        font-size: 7rem;
    
        @include breakpoint(mobile) {
            font-size: 4rem;
        }

        @include print {
            font-size: 5rem;
        }
    } 

    h2 {
        
        color: white;
        font-size: 2.2rem;
        margin-left: 3.7rem;

        .plus { color: #FF3D2E; }
        
        @include breakpoint(mobile) {
            font-size: 2rem;
        }
        
    }

    .address,
    .contact {
        padding-top: 0px;
        font-size: 1rem;
        color: white;
        line-height: 1.8;
        a {
            color: white;
        }
        .fw {
            width: 30px;
        }
    }
} 
 
#skills {
    
    padding-top: 30px;
    padding-bottom: 20px;
    
    text-shadow: 0px 1px 20px rgba(0,0,0,0.1);

    background-color: #FF3D2E;

    h3 {
        color: white;
        font-size: 50px;
        padding-bottom: 20px;
        line-height: 1;

        @include breakpoint(mobile) {
            font-size: 24px;
        }

        @include print {
            font-size: 24px;
        }
        
    }


    ul {
        padding: 0;
        li {
            color: white;
            //border: solid 1px rgba(white, 0.3);
            padding: 0px;
            font-size: 1rem;
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 20px;
            font-weight: bolder;

            @include print {
                font-size: 0.8rem;
                margin-right: 10px;
                margin-bottom: 10px;
            }
            
        }
    }

}


.work-history {

    .container {

        padding-top: 40px;
        padding-bottom: 0px;
        page-break-inside: avoid;
    }

    .title {

        color: #FF3D2E;
        font-size: 2rem;
        line-height: 1.3;

        @include print {
            font-size: 1.5rem;
        }
    }

    .company {

        margin-top: 10px;
        font-size: 0.8rem;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                opacity: 0.6;
            }
        }
    }

    .daterange {

        font-size: 0.8rem;

    }

    .summary {

        font-size: 1.5rem;;
        line-height: 1.5;
        margin: 0;

        @include print {
            font-size: 1.2rem;
        }
    }

    .work-details {

        margin-left: 0;
        padding-right: 40px;
        padding-left: 0px;

         @include print {
            padding-right: 0;
        }

        li {
            padding: 0;
            padding-left: 20px;
            list-style-type: none;
            margin-bottom: 1rem;
            border-left: solid 2px #eee;

            p {

                margin-top: 0;
                padding-top: 0;
                font-size: 1.2rem;

                @include print {
                    font-size: 1rem;
                }

            }
        }
    }

    .ui.grid>[class*="ten wide"].column.print-twelve {
        @include print {
            width: 70% !important;
        }
    }
}

.secondary-info {

    border-left: solid 2px #ccc;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

#about {
    font-family: 'Oswald';
    font-weight: 500;
    text-transform: uppercase;
    color: #666; // \m/
    p {
        color: #666; 
    }
}